.git
.github
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
ENV/
build/
dist/
.coverage
.coverage.*
htmlcov/
generated_graphs/
generated_forecasts/
prediction_logs/
tuning_dir/
dev.env
database_backup.sql
mysql_data/
